<ion-content>
  <ion-item class="height-menu"></ion-item>
  <ion-item>
    <ion-button>Add hour</ion-button>
  </ion-item>
  <ion-item *ngFor="let hour of hours">
    <ion-card color="medium" class="width">
      <ion-card-header>
        <ion-card-subtitle>{{hour.startHour}}</ion-card-subtitle>
        <ion-card-subtitle>{{hour.endHour}}</ion-card-subtitle>
        <ion-card-subtitle>{{hour.location.name}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-item>
</ion-content>
