.height-menu{
  height: 70px;
}

.width{
  width: 100%;
}

ion-datetime{
  --background: #ffffff;
  --background-rgb: #ffffff;
  --wheel-fade-background-rgb: rgb(255,255,255);
  --wheel-highlight-background: #ffffff;
}
